In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor

In [2]:
values = pd.read_csv("../data/kalshi_features_v1.csv")
values.shape

(1300, 33)

In [3]:
values.head()

,Date,DayOfWeek,Open,High,Low,Close,Adj Close,Volume,OC Difference,HL Difference,...,Close_Lag_2,Close_Lag_3,Close_Lag_4,Close_Lag_5,ShortEMA,LongEMA,MACD,SignalLine,MACD_Histogram,RSI
0,2023-10-23,1,14514.110352,14746.370117,14419.059570,14604.849609,14604.849609,4669060000,-90.739257,327.310547,...,14381.639648,14109.570313,14180.419922,14335.509766,14637.994410,14839.828129,-201.833719,-165.128518,-36.705201,35.759337
1,2023-10-20,5,14752.589844,14781.219727,14552.120117,14560.879883,14560.879883,4622840000,191.709961,229.099610,...,14745.860352,14381.639648,14109.570313,14180.419922,14626.130636,14819.165296,-193.034659,-170.709746,-22.324913,35.023629
2,2023-10-19,4,14981.129883,15023.910156,14749.299805,14783.129883,14783.129883,5014790000,198.000000,274.610351,...,14604.849609,14745.860352,14381.639648,14109.570313,14650.284367,14816.496006,-166.211639,-169.810125,3.598486,38.205042
3,2023-10-18,3,15022.280273,15103.870117,14865.809570,14909.259766,14909.259766,4617140000,113.020507,238.060547,...,14560.879883,14604.849609,14745.860352,14381.639648,14690.126736,14823.367395,-133.240660,-162.496232,29.255572,41.792372
4,2023-10-17,2,15009.259766,15187.059570,14932.769531,15122.009766,15122.009766,4417640000,-112.750000,254.290039,...,14783.129883,14560.879883,14604.849609,14745.860352,14756.570279,14845.489052,-88.918774,-147.780740,58.861967,49.322010

# Time Series

#### Problem Statement
**We aim to forecast future stock market Open and Close prices based on historical data. The objectives are two-fold:**
1) Predict the Open and Close prices for the next few days based on previous price data and other related financial indicators.
2) Given only the Open price for a future date, predict the corresponding Close price.

#### Steps to Take
1. Data Preprocessing
2. EDA (If Needed)
3. Model Selection
4. Feature Selection
5. Evaluation

## Data Preprocessing

In [5]:
values_ts = values

In [6]:
values_ts['Date'] = pd.to_datetime(values['Date'])

In [7]:
values_ts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1300 entries, 0 to 1299
Data columns (total 33 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    1300 non-null   datetime64[ns]
 1   DayOfWeek               1300 non-null   int64
 2   Open                    1300 non-null   float64
 3   High                    1300 non-null   float64
 4   Low                     1300 non-null   float64
 5   Close                   1300 non-null   float64
 6   Adj Close               1300 non-null   float64
 7   Volume                  1300 non-null   int64
 8   OC Difference           1300 non-null   float64
 9   HL Difference           1300 non-null   float64
 10  OC %Change              1300 non-null   float64
 11  HL %Change              1300 non-null   float64
 12  Close_Status            1300 non-null   int64
 13  Close_Difference        1300 non-null   float64
 14  Same Bracket            1300 non-null   int64
 15  Avg_OC_Spread_10_Day    1300 non-null   float64
 16  Avg_Volume_10_Day       1300 non-null   float64
 17  Volatility_10_Day       1300 non-null   float64
 18  Price_Change_Magnitude  1300 non-null   float64
 19  Price_Direction         1300 non-null   int64
 20  MA_Volume_Ratio         1300 non-null   float64
 21  Close_Bracket           1300 non-null   int64
 22  Close_Lag_1             1300 non-null   float64
 23  Close_Lag_2             1300 non-null   float64
 24  Close_Lag_3             1300 non-null   float64
 25  Close_Lag_4             1300 non-null   float64
 26  Close_Lag_5             1300 non-null   float64
 27  ShortEMA                1300 non-null   float64
 28  LongEMA                 1300 non-null   float64
 29  MACD                    1300 non-null   float64
 30  SignalLine              1300 non-null   float64
 31  MACD_Histogram          1300 non-null   float64
 32  RSI                     1300 non-null   float64
dtypes: datetime64[ns](1), float64(26), int64(6)
memory usage: 335.3 KB

In [9]:
values_ts.set_index('Date',inplace=True)

In [10]:
values_ts.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1300 entries, 2023-10-23 to 2018-08-23
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   DayOfWeek               1300 non-null   int64
 1   Open                    1300 non-null   float64
 2   High                    1300 non-null   float64
 3   Low                     1300 non-null   float64
 4   Close                   1300 non-null   float64
 5   Adj Close               1300 non-null   float64
 6   Volume                  1300 non-null   int64
 7   OC Difference           1300 non-null   float64
 8   HL Difference           1300 non-null   float64
 9   OC %Change              1300 non-null   float64
 10  HL %Change              1300 non-null   float64
 11  Close_Status            1300 non-null   int64
 12  Close_Difference        1300 non-null   float64
 13  Same Bracket            1300 non-null   int64
 14  Avg_OC_Spread_10_Day    1300 non-null   float64
 15  Avg_Volume_10_Day       1300 non-null   float64
 16  Volatility_10_Day       1300 non-null   float64
 17  Price_Change_Magnitude  1300 non-null   float64
 18  Price_Direction         1300 non-null   int64
 19  MA_Volume_Ratio         1300 non-null   float64
 20  Close_Bracket           1300 non-null   int64
 21  Close_Lag_1             1300 non-null   float64
 22  Close_Lag_2             1300 non-null   float64
 23  Close_Lag_3             1300 non-null   float64
 24  Close_Lag_4             1300 non-null   float64
 25  Close_Lag_5             1300 non-null   float64
 26  ShortEMA                1300 non-null   float64
 27  LongEMA                 1300 non-null   float64
 28  MACD                    1300 non-null   float64
 29  SignalLine              1300 non-null   float64
 30  MACD_Histogram          1300 non-null   float64
 31  RSI                     1300 non-null   float64
dtypes: float64(26), int64(6)
memory usage: 335.2 KB

In [11]:
values_ts.sort_index(inplace=True)

## NEXT: WE NEED TO GET OUR DATA TO BECOME STATIONERY



## EDA
(Honestly we learned everyhting we needed to know in Notebook 01 so no need to do further analysis as of right now)