In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor

In [2]:
values = pd.read_csv("../data/live_data.csv")

In [3]:
values.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-08-23,7420.310059,7465.870117,7405.399902,7413.839844,7413.839844,1888600000
1,2018-08-24,7443.709961,7489.540039,7442.990234,7485.399902,7485.399902,1892990000
2,2018-08-27,7527.370117,7560.759766,7512.020020,7559.129883,7559.129883,2333790000
3,2018-08-28,7580.850098,7588.720215,7556.709961,7570.250000,7570.250000,1980270000
4,2018-08-29,7585.129883,7661.950195,7583.520020,7660.180176,7660.180176,1909880000

In [4]:
new_row = {'Date': '2023-12-06',
           'Open': 15990.20,
           'High': 15990.94,
           'Low': 15776.95,
           'Close': 15788.05,
           'Adj Close': 15788.05,
           'Volume': 5167030000
           }

In [5]:
values.loc[len(values)] = new_row

In [6]:
values.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
1325,2023-11-29,16111.36035,16166.50977,15976.69043,15987.59961,15987.59961,4890220000
1326,2023-11-30,15987.66016,16013.48047,15825.66992,15947.87012,15947.87012,5678070000
1327,2023-12-01,15892.58984,16013.75000,15834.92969,15997.58008,15997.58008,5607000000
1328,2023-12-04,15837.09961,15844.65723,15695.58398,15773.00098,15773.00098,526945041
1329,2023-12-05,15763.70000,15931.84000,15760.59000,15908.14000,15908.14000,247882334

In [7]:
# Change date from object to datetime
values['Date'] = pd.to_datetime(values['Date'])
# Creating columns of high low spreads and open close spread
values['OC Difference'] = values['Open']-values['Close']
values['HL Difference'] = values['High']-values['Low']
# Creating column to denote day of the week
values['DayOfWeek'] = values['Date'].dt.dayofweek

# Mapping numerical day of the week to corresponding day names
day_names = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
values['DayOfWeek'] = values['DayOfWeek'].map(lambda x: day_names[x])
day_to_number = {
    'Monday': 1,
    'Tuesday': 2,
    'Wednesday': 3,
    'Thursday': 4,
    'Friday': 5,
    'Saturday': 6,
    'Sunday': 7
}

# Use the map function to apply the mapping to the 'DayOfWeek' column
values['DayOfWeek'] = values['DayOfWeek'].map(day_to_number)
#rearrange column order
column_order = ['Date', 'DayOfWeek', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume','OC Difference','HL Difference']
values = values[column_order]
#Open close percent change intraday
values['OC %Change'] = (values['Close'] - values['Open']) / values['Open']
#high low percent change intraday
values['HL %Change'] = (values['Low'] - values['High']) / values['High']
#Column to denote if todays close is hgiher than yesterdays close. 1 if yes, 0 if no
values['Close_Status'] = (values['Close'] > values['Close'].shift()).astype(int)
#Column to display change between todays close against yesterdays close
values['Close_Difference'] = values['Close'] - values['Close'].shift()
def in_same_bracket(open_val, close_val):
    bracket_size = 100
    open_bracket = (open_val // bracket_size) * bracket_size
    close_bracket = (close_val // bracket_size) * bracket_size
    return int(open_bracket==close_bracket)
values['Same Bracket'] = values.apply(lambda row: in_same_bracket(row['Open'], row['Close']), axis=1)
#Im adding a bunch more coloumns here that I am not sure I will need down the line but is a good to have:

# Calculate Average Open-Close Spread (Moving Average)
values['Avg_OC_Spread_10_Day'] = values['Close_Difference'].rolling(window=10).mean()
# Calculate Average Volume (Moving Average)
values['Avg_Volume_10_Day'] = values['Volume'].rolling(window=10).mean()
# Calculate Volatility (Standard Deviation of Open-Close Spread)
values['Volatility_10_Day'] = values['Close_Difference'].rolling(window=10).std()
# Calculate Price Change Magnitude
values['Price_Change_Magnitude'] = abs(values['Close_Difference'])
# Create Price Direction Column
values['Price_Direction'] = pd.cut(values['Close_Difference'], bins=[float('-inf'), 0, float('inf')], labels=[0,1])
# Calculate Moving Average Volume Ratio
values['MA_Volume_Ratio'] = values['Volume'] / values['Avg_Volume_10_Day']
# Create Day Type Change Column
#values['Day_Type_Change'] = (values['DayOfWeek'] != values['DayOfWeek'].shift()).astype(int)
def price_bracket(close_val):
    bracket_size = 100
    return int(close_val // bracket_size) * bracket_size

values['Close_Bracket'] = values['Close'].apply(price_bracket)

# MACD
def compute_macd(data, short_window=12, long_window=26, signal_window=9):
    data['ShortEMA'] = data['Close'].ewm(span=short_window, adjust=False).mean()  # Short-term EMA
    data['LongEMA'] = data['Close'].ewm(span=long_window, adjust=False).mean()   # Long-term EMA
    
    # Compute MACD and Signal Line
    data['MACD'] = data['ShortEMA'] - data['LongEMA']
    data['SignalLine'] = data['MACD'].ewm(span=signal_window, adjust=False).mean()
    
    # Compute MACD Histogram
    data['MACD_Histogram'] = data['MACD'] - data['SignalLine']
    
    return data
values = compute_macd(values)
# Creating 5 lagged features for the Close price
values = values.sort_values("Date", ascending=False)

for i in range(1, 6):  # loop from 5 to 1 in reverse
    values[f'Close_Lag_{i}'] = values['Close'].shift(-i)

# Checking the head of the dataframe to visualize the new lag features
values[['Date', 'Close', 'Close_Lag_1', 'Close_Lag_2', 'Close_Lag_3', 'Close_Lag_4', 'Close_Lag_5']].head(10)

,Date,Close,Close_Lag_1,Close_Lag_2,Close_Lag_3,Close_Lag_4,Close_Lag_5
1329,2023-12-05,15908.14000,15773.00098,15997.58008,15947.87012,15987.59961,16010.42969
1328,2023-12-04,15773.00098,15997.58008,15947.87012,15987.59961,16010.42969,15961.98047
1327,2023-12-01,15997.58008,15947.87012,15987.59961,16010.42969,15961.98047,15982.00977
1326,2023-11-30,15947.87012,15987.59961,16010.42969,15961.98047,15982.00977,16001.38965
1325,2023-11-29,15987.59961,16010.42969,15961.98047,15982.00977,16001.38965,15933.62012
1324,2023-11-28,16010.42969,15961.98047,15982.00977,16001.38965,15933.62012,16027.05957
1323,2023-11-27,15961.98047,15982.00977,16001.38965,15933.62012,16027.05957,15837.99023
1322,2023-11-24,15982.00977,16001.38965,15933.62012,16027.05957,15837.99023,15833.16992
1321,2023-11-22,16001.38965,15933.62012,16027.05957,15837.99023,15833.16992,15817.17969
1320,2023-11-21,15933.62012,16027.05957,15837.99023,15833.16992,15817.17969,15812.46973

In [8]:
values_ts = values
values_ts = values
values_ts['Date'] = pd.to_datetime(values['Date'])
values_ts.set_index('Date',inplace=True)
values_ts.sort_index(inplace=True)

In [9]:
from statsmodels.tsa.stattools import adfuller

# Perform Augmented Dickey-Fuller test:
result = adfuller(values_ts['Close'])
print('ADF Statistic: %f' % result[0])
print('p-value: %f' % result[1])
print('Critical Values:')
for key, value in result[4].items():
    print('\t%s: %.3f' % (key, value))

# Interpretation
if result[1] > 0.05:
    print("Series is not stationary")
else:
    print("Series is stationary")

ADF Statistic: -0.954801
p-value: 0.769391
Critical Values:
	1%: -3.435
	5%: -2.864
	10%: -2.568
Series is not stationary

In [10]:
def interpret_dftest(dftest):
    dfoutput = pd.Series(dftest[0:2], index=['Test Statistic','p-value'])
    return dfoutput

interpret_dftest(adfuller(values_ts['Close'].diff().dropna()))
values_ts['first_diff_close'] = values_ts['Close'].diff()
values_ts['first_diff_open'] = values_ts['Open'].diff()
values_ts['first_diff_high'] = values_ts['High'].diff()
values_ts['first_diff_low'] = values_ts['Low'].diff()
values_ts['first_diff_volume'] = values_ts['Volume'].diff()
values_ts['first_diff_avg_volume_10_day'] = values_ts['Avg_Volume_10_Day'].diff()
values_ts['first_diff_close_bracket'] = values_ts['Close_Bracket'].diff()
values_ts['first_diff_short_ema'] = values_ts['ShortEMA'].diff()
values_ts['first_diff_long_ema'] = values_ts['LongEMA'].diff()
values_ts['first_diff_close_lag_1'] = values_ts['Close_Lag_1'].diff()
values_ts['first_diff_close_lag_2'] = values_ts['Close_Lag_2'].diff()
values_ts['first_diff_close_lag_3'] = values_ts['Close_Lag_3'].diff()
values_ts['first_diff_close_lag_4'] = values_ts['Close_Lag_4'].diff()
values_ts['first_diff_close_lag_5'] = values_ts['Close_Lag_5'].diff()

In [11]:
values_ts.tail(10)

,DayOfWeek,Open,High,Low,Close,Adj Close,Volume,OC Difference,HL Difference,OC %Change,...,first_diff_volume,first_diff_avg_volume_10_day,first_diff_close_bracket,first_diff_short_ema,first_diff_long_ema,first_diff_close_lag_1,first_diff_close_lag_2,first_diff_close_lag_3,first_diff_close_lag_4,first_diff_close_lag_5
Date,,,,,,,,,,,,,,,,,,,,,
2023-11-21,2,15951.54981,15968.08984,15866.82031,15933.62012,15933.62012,4128600000,17.92969,101.26953,-0.001124,...,-4.332100e+08,-22586000.0,-100.0,59.411963,49.900219,189.06934,4.82031,15.99023,4.70996,329.67969
2023-11-22,3,16025.74023,16119.30957,15964.04004,16001.38965,16001.38965,3855240000,24.35058,155.26953,-0.001519,...,-2.733600e+08,-83031000.0,100.0,60.697743,51.223872,-93.43945,189.06934,4.82031,15.99023,4.70996
2023-11-24,5,15974.84961,16007.42969,15940.62012,15982.00977,15982.00977,2541840000,-7.16016,66.80957,0.000448,...,-1.313400e+09,-277213000.0,-100.0,48.378108,45.993964,67.76953,-93.43945,189.06934,4.82031,15.99023
2023-11-27,1,15969.71973,16045.29981,15932.19043,15961.98047,15961.98047,4205880000,7.73926,113.10938,-0.000485,...,1.664040e+09,-51626000.0,0.0,37.853892,41.103352,-19.37988,67.76953,-93.43945,189.06934,4.82031
2023-11-28,2,15940.29004,16031.51953,15921.07031,16010.42969,16010.42969,4474400000,-70.13965,110.44922,0.004400,...,2.685200e+08,12481000.0,100.0,39.483942,41.647491,-20.02930,-19.37988,67.76953,-93.43945,189.06934
2023-11-29,3,16111.36035,16166.50977,15976.69043,15987.59961,15987.59961,4890220000,123.76074,189.81934,-0.007682,...,4.158200e+08,-44227000.0,-100.0,29.897170,36.871374,48.44922,-20.02930,-19.37988,67.76953,-93.43945
2023-11-30,4,15987.66016,16013.48047,15825.66992,15947.87012,15947.87012,5678070000,39.79004,187.81055,-0.002489,...,7.878500e+08,61424000.0,0.0,19.185376,31.197236,-22.83008,48.44922,-20.02930,-19.37988,67.76953
2023-12-01,5,15892.58984,16013.75000,15834.92969,15997.58008,15997.58008,5607000000,-104.99024,178.82031,0.006606,...,-7.107000e+07,106182000.0,0.0,23.881466,32.568549,-39.72949,-22.83008,48.44922,-20.02930,-19.37988
2023-12-04,1,15837.09961,15844.65723,15695.58398,15773.00098,15773.00098,526945041,64.09863,149.07325,-0.004047,...,-5.080055e+09,-388169495.9,-200.0,-14.343237,13.520575,49.70996,-39.72949,-22.83008,48.44922,-20.02930
2023-12-05,2,15763.70000,15931.84000,15760.59000,15908.14000,15908.14000,247882334,-144.44000,171.25000,0.009163,...,-2.790627e+08,-431392766.6,200.0,8.654034,22.529349,-224.57910,49.70996,-39.72949,-22.83008,48.44922

In [12]:
values_ts.to_csv("../data/model_data.csv")